## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,718,Mataura,NZ,35.47,light rain,-46.1927,168.8643,Ellie's Villa
1,719,Hobart,AU,45.05,overcast clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
2,720,Kiama,AU,48.38,few clouds,-34.6833,150.8667,The Sebel Kiama Harbourside
3,725,Cape Town,ZA,59.11,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
4,731,Anadyr,RU,52.30,broken clouds,64.7500,177.4833,Отке17.ру — жильё для командированных

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[(vacation_df["City"] == "Raudeberg")]
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
29,806,Raudeberg,NO,54.95,broken clouds,61.9875,5.1352,Nordre Silda.

In [6]:
vacation_end_df = vacation_df.loc[(vacation_df["City"] == "Raudeberg")]
vacation_end_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
29,806,Raudeberg,NO,54.95,broken clouds,61.9875,5.1352,Nordre Silda.

In [7]:
vacation_stop1_df = vacation_df.loc[(vacation_df["City"] == "Ostersund")]
vacation_stop1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
82,1046,Ostersund,SE,50.45,light rain,63.1792,14.6357,Best Western Hotel Gamla Teatern

In [8]:
vacation_stop2_df = vacation_df.loc[(vacation_df["City"] == "Vardo")]
vacation_stop2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,787,Vardo,NO,53.58,light intensity drizzle,70.3705,31.1107,Vardø Hotel AS

In [9]:
vacation_stop3_df = vacation_df.loc[(vacation_df["City"] == "Vagamo")]
vacation_stop3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
138,1339,Vagamo,NO,51.84,overcast clouds,61.8751,9.0967,Vågå hotel

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# Get the lat and lng for the start and end of the trip
start = vacation_start_df["Lat"].to_numpy()[0], vacation_start_df["Lng"].to_numpy()[0]
end = vacation_end_df["Lat"].to_numpy()[0], vacation_end_df["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

Start: (61.9875, 5.1352), End: (61.9875, 5.1352)

In [11]:
coords_stop_1 = vacation_stop1_df["Lat"].to_numpy()[0], vacation_stop1_df["Lng"].to_numpy()[0]
coords_stop_2 = vacation_stop2_df["Lat"].to_numpy()[0], vacation_stop2_df["Lng"].to_numpy()[0]
coords_stop_3 = vacation_stop3_df["Lat"].to_numpy()[0], vacation_stop2_df["Lng"].to_numpy()[0]
print(f'Stop 1: {coords_stop_1}, Stop 2: {coords_stop_2}, Stop 3: {coords_stop_3}')

Stop 1: (63.1792, 14.6357), Stop 2: (70.3705, 31.1107), Stop 3: (61.8751, 31.1107)

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Create map with route
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
start, end, waypoints=[coords_stop_1, coords_stop_2, coords_stop_3],
travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,806,Raudeberg,NO,54.95,broken clouds,61.9875,5.1352,Nordre Silda.
1,1046,Ostersund,SE,50.45,light rain,63.1792,14.6357,Best Western Hotel Gamla Teatern
2,787,Vardo,NO,53.58,light intensity drizzle,70.3705,31.1107,Vardø Hotel AS
3,1339,Vagamo,NO,51.84,overcast clouds,61.8751,9.0967,Vågå hotel

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))